{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %} 
<style>
    .errorlist {
        color: red;
    }
</style>
{% endblock custom_css %}

{% block main %} 
<div class="ui modal" style="width: 450px;">
    <div class="header">
        修改密码
    </div>
    <div class="ui text container" style="margin: 20px; width: 60%;">
        <p>密码修改成功！</p>
        <a href="{% url 'index' %}">返回主页</a>
    </div>
</div>
{% endblock main %}

{% block custom_script %} 
<script type="text/javascript">
    $('.ui.modal')
        .modal({
          blurring: true
        })
        .modal('show')
    ;
</script>
{% endblock custom_script %}
